:root {
  --soft-green: rgb(107, 142, 35, .95);
  --super-soft-green: rgb(107, 142, 35, .15);
}


body {
  display: flex;
  width: 1300px;
  margin: auto;
  background-color: olivedrab;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 105px;
  color: white;
}

h2 {
  font-weight: 500;
}

.left-section, .right-section {
  background-color: white;
  height: 100vh;
}

.left-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url("lemons.jpg");
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0px;
}

.left-section p {
  font-size: small;
  padding: 10px 40px;
  background-color: rgb(255, 255, 255, .6);
  margin: 0px;
}

.logo {
  margin-top: 165px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 142, 35, .6);
  height: 150px;
  padding: 20px;
}

.logo img {
  height: inherit;
}

.right-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.right-section p {
  font-size: 16px;
}

.right-section a {
  font-weight: bold;
  text-decoration: none;
  color: olivedrab;
}

.right-section > section, button, p {
  margin: 0px 40px;
}

.main-form {
  height: 300px;
  background-color: var(--super-soft-green);
  padding: 20px 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.right-section button {
  margin-top: 30px; 
  width: 230px;
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: olivedrab;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.right-section button:hover {
  box-shadow: rgba(99, 99, 99, 0.25) 1px 3px 8px 0px;
  background-color: var(--soft-green)
}

label, input {
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-size: 13px;
}

input {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  background: none;
  /* box-sizing: border-box; */
  padding: 0px 5px;
}

input:focus {
  border: 1px solid grey;
  outline: 0;
  box-shadow: rgba(99, 99, 99, 0.25) 1px 3px 8px 0px;
}

.group {
  display: flex;
  gap: 50px;
}

.subgroup {
  padding: 10px 0px 16px 0px;
}

.error.active {
  color: red;
  width: 250px;
  text-transform: none;
  padding: 5px;
}

.error.input {
  border: 1px solid red;
}

